@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 33 63% 99%;
        --foreground: 33 80% 5%;
        --muted: 213 8% 94%;
        --muted-foreground: 213 11% 31%;
        --popover: 33 63% 99%;
        --popover-foreground: 33 80% 5%;
        --card: 33 63% 99%;
        --card-foreground: 33 80% 5%;
        --border: 33 13% 92%;
        --input: 33 13% 92%;
        --primary: 33 21% 90%;
        --primary-foreground: 33 21% 30%;
        --secondary: 213 21% 90%;
        --secondary-foreground: 213 21% 30%;
        --accent: 213 21% 90%;
        --accent-foreground: 213 21% 30%;
        --destructive: 6 89% 22%;
        --destructive-foreground: 6 89% 82%;
        --ring: 33 21% 90%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 33 45% 1%;
        --foreground: 33 34% 97%;
        --muted: 213 8% 6%;
        --muted-foreground: 213 11% 69%;
        --popover: 33 45% 1%;
        --popover-foreground: 33 34% 97%;
        --card: 33 45% 1%;
        --card-foreground: 33 34% 97%;
        --border: 33 13% 15%;
        --input: 33 13% 15%;
        --primary: 33 21% 90%;
        --primary-foreground: 33 21% 30%;
        --secondary: 213 21% 90%;
        --secondary-foreground: 213 21% 30%;
        --accent: 213 21% 90%;
        --accent-foreground: 213 21% 30%;
        --destructive: 6 89% 60%;
        --destructive-foreground: 0 0% 100%;
        --ring: 33 21% 90%;
    }
}


.font-poppins {
    font-family: var(--font-poppins)
}

.font-heading {
    font-family: var(--font-heading)
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground font-poppins;
    }

    h1, h2, h2, h4, h5 {
        @apply font-heading
    }
}
